{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static 'image/user.jpeg' %}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <div class="form_style ">
    <form method="POST" action="">
		{% csrf_token %}
    {{ form|crispy }}
    <div>
    <p style="color:red;">Don't have an account?</p>
       <p><a href="{% url 'signup' %}" style="color:blue;"> Create Now</a></p>
    </div>
    <button type='login' class="btn btn-outline-success" style="width:20%;height:5%;background: skyblue; border:0ch;margin-bottom:5px;">Login</button>
		</div>							
  </form>
  </div>
</div>
